@{
    Layout = null;
}
<!DOCTYPE html>

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>Soccer Club</title>
</head>
<body style="height:100%">
    <div class="home">
        <a class="btn btn-a" href="Club/ClubPage">Click to Get Started</a>
    </div>
</body>
</html>
